<?xml version="1.0"?>

<launch>
   <param name="/robot_description" command="$(find xacro)/xacro.py '$(find thor_mang_tud_description)/robots/$(optenv THOR_ROBOT_TYPE thor_mang)_tud_simple.urdf.xacro'" />

 <node pkg="message_to_tf" type="message_to_tf" name="imu_to_tf" output="screen">
    <!--<param name="frame_id" value="base_footprint" />-->
    <!--<param name="footprint_frame_id" value="base_footprint2" />-->
    <param name="stabilized_frame_id" value="pelvis_stabilized" />
    <param name="child_frame_id" value="pelvis" />
    <param name="topic" value="/state_estimator/pelvis_pose" />
    <!--<param name="tf_prefix" value="ground_truth" />-->
  </node>

	<node pkg="message_to_tf" type="message_to_tf" name="foot_frame_to_tf" output="screen">
    <param name="frame_id" value="world" />
    <param name="footprint_frame_id" value="foot_frame_base_footprint2" />
		<param name="stabilized_frame_id" value="foot_frame_stabilized" />
		<param name="child_frame_id" value="footstep_frame" />
		<param name="topic" value="/state_estimator/ground_point" />
	</node>

</launch>
